{% extends 'base.html' %}
{% block content %}

<header class="intro-header" style="background-image: url({{ url_for('static', filename='images/blo.jpeg') }})">

        <section id="slider" class="slider" style="background-color:white;">
            <div class="slider_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_slider text-center">
                            <div class="col-md-12">
                                <div class="main_slider_content wow zoomIn" data-wow-duration="1s">
                                    <h1 style='font-size:50px'>CREATE BLOG </h1>
                                    <a  href="/blog"><button class="btn-lg">Create blog</button></a>
                                    <h1 style='font-size:50px'>GET INSPIRED </h1>
                                    <a  href="/quotes"><button class="btn-lg">Get inspired</button></a>

                                
                        </div>

                    </div>
                </div>
            </div>
        </section>


{% endblock %}


<!--{{quote}}{{author}}-->